.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .gif-image {
    width: 30px;
    height: 30px;
    margin: 10px;
  }
  
  .scroll-animation {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  
  .scroll-link-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  
  .scroll-link {
    color: #007bff;
    cursor: pointer;
  }
  